<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ja3Bu9 Quote :</title>
    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light&display=swap" rel="stylesheet">
</head>

<body>

    <h1>Quotes :</h1>
   


        <table id="myTable" >  
            <thead>  
                <tr class="table100-head">  
                    <th class="column">text</th>  
                    <th class="column">source</th>  
                    <th class="column">id_auteur</th>  
                </tr>  
            </thead>  
             <tbody>  
             
                <tr>  
                    <td class="column"><%= text %></td>  
                    <td class="column"><%= source %></td>
                    <td class="column"><%= id_auteur %></td>
                </tr>                                   
             
             </tbody>
        </table>  
       





        


</body>

</html>